{% extends 'base.html' %}

{% block java_script %}
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('.clientlist').dataTable({
            "sDom": "<'row'<'span6'l><'span6'f>r>t<'row'<'span6'i><'span6'p>>",
            "iDisplayLength": 20,
            "aLengthMenu": [[20, 50, -1], [20, 50, "All"]],
            "sPaginationType": "bootstrap",
            "bStateSave": true,
            "aaSorting": [[1,'asc']]
        });
    } );
</script>
{% endblock %}

{% block content %}
<h2>{{ item_detail.name }}</h2>
{% with inventory_items=item_detail.instances list_title='Machines' %}
  {% include 'inventory/iteminstancetable.html' %}
{% endwith %}
{% endblock %}