{% load url from future %}
<h3>{{ list_title }} <span class="badge badge-info">{{ inventory_items|length }}</span></h3>
{% if inventory_items|length %}
  <p/>
  <table class='clientlist table table-striped table-condensed'>
      <thead>
          <tr>
            <th>Name</th>
            <th>Version</th>
            <th>BundleID</th>
            <th>Path</th>
          </tr>
          </tr>
      </thead>
      <tbody>
      {% for item in inventory_items %}
          <tr>
              <td>
                <a href='{% url "inventory.views.items" %}?name={{ item.name|urlencode }}'>
                  {{ item.name }}
                </a>
              </td>
              <td>
                <a href='{% url "inventory.views.items" %}?name={{ item.name|urlencode }}&version={{ item.version|urlencode }}'>
                  {{ item.version }}
                </a>
              </td>
              <td>{{ item.bundleid }}</td>
              <td title='{{ item.path }}'>{{ item.path }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% else %}
  <p><i>No {{ list_title|lower }}.</i></p>
{% endif %}
