{% load url from future %}
<h3>{{ list_title }} <span class="badge badge-info">{{ inventory_items|length }} </span></h3>
{% if inventory_items|length %}
<p/>
  <table class='clientlist table table-striped table-condensed'>
      <thead>
          <tr>
            <th>Hostname</th>
            <th>Username</th>
            <th>Version</th>
            <th>BundleID</th>
            <th>CFBundleName</th>
            <th>Path</th>
          </tr>
      </thead>
      <tbody>
      {% for item in inventory_items %}
          <tr>
              <td>
                <a href='{% url "inventory.views.detail" item.mac %}'>
                  {{ item.hostname }}
                </a>
              </td>
              <td>{{ item.username }}</td>
              <td>{{ item.version }}</td>
              <td>{{ item.bundleid }}</td>
              <td>{{ item.bundlename }}</td>
              <td>{{ item.path }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% else %}
  <p><i>No {{ list_title|lower }}.</i></p>
{% endif %}
