{% load url from future %}
<h3>{{ list_title }} <span class="badge badge-info">{{ machine_list|length }}</span></h3>
{% if machine_list|length %}
  <p/>
  <table class='clientlist table table-striped table-condensed'>
      <thead>
          <tr>
            <th>Hostname</th>
            <th>Username</th>
            <th>Location</th>
            <th>Last inventory update</th>
            <th>Last checkin</th>
          </tr>
          </tr>
      </thead>
      <tbody>
      {% for machine in machine_list %}
          <tr>
              <td>
                  <a href='{% url "inventory.views.detail" machine.mac %}'>
                  {{ machine.hostname }}
                </a>
              </td>
              <td>{{ machine.username }}</td>
              <td>{{ machine.location }}</td>
              <td>{{ machine.last_inventory_update|date:"Y-m-d H:i" }}</td>
              <td>{{ machine.last_munki_update|date:"Y-m-d H:i" }}</td>
          </tr>
      {% endfor %}
      </tbody>
  </table>
{% else %}
  <p><i>No {{ list_title|lower }}.</i></p>
{% endif %}
