{% extends 'base.html' %}
{% load url from future %}

{% block extra_style %}
<style type="text/css">
    ul.errorlist {
        margin: 0;
        padding: 0;
        float: right;
    }
    .errorlist li {
        color: red;
        display: block;
        font-size: 10px;
        margin: 0 0 3px;
        padding: 4px 5px;
    }
</style>
{% endblock %}
{% block java_script %}
{% load static %}
<script type='text/javascript'>
  $(document).ready(function(){
    document.new_manifest_form.manifest_name.focus();
  });
</script>
{% endblock %}
{% block content %}
<form name='new_manifest_form' action='{% url "manifests.views.new" %}' method="post">
{% csrf_token %}
<h2>Create new manifest</h2>
<table>
{{ form.as_table }}
</table>
<br>
<input class='btn' type="submit" value="Create" />
<input class='btn' type='button' class='cancel' value='Cancel' onclick="history.go(-1);"></input>
</form>
{% endblock content %}